[program:digim]
process_name=%(program_name)s
numprocs=1
command=/home/pas/digim/digim -p 8000 --proxy=X_Forwarded_For --no-access-log --no-error-log
directory=/home/pas/digim
user=root
autostart=true
autorestart=true
startretries=5
stopsignal=KILL
stderr_logfile=/var/log/uwsgi/%(program_name)s.log